### Agrupaciones (group_by)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
df = sns.load_dataset('diamonds')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [9]:
pd.options.display.float_format = '{:.2f}'.format
df.groupby('cut').mean()

           carat  depth  table   price    x    y    z
cut
Ideal       0.70  61.71  55.95 3457.54 5.51 5.52 3.40
Premium     0.89  61.26  58.75 4584.26 5.97 5.94 3.65
Very Good   0.81  61.82  57.96 3981.76 5.74 5.77 3.56
Good        0.85  62.37  58.69 3928.86 5.84 5.85 3.64
Fair        1.05  64.04  59.05 4358.76 6.25 6.18 3.98

In [10]:
df.groupby('cut').median()

           carat  depth  table   price    x    y    z
cut
Ideal       0.54  61.80  56.00 1810.00 5.25 5.26 3.23
Premium     0.86  61.40  59.00 3185.00 6.11 6.06 3.72
Very Good   0.71  62.10  58.00 2648.00 5.74 5.77 3.56
Good        0.82  63.40  58.00 3050.50 5.98 5.99 3.70
Fair        1.00  65.00  58.00 3282.00 6.17 6.10 3.97

In [28]:
df.groupby('price') # Retorna un grupo de indices, no un dataframe

In [31]:
for key, group in df.groupby('cut'):
    grouped_price  = group['price'].mean()
    print('Cut: {}, Price: {}'.format(key, grouped_price))

Cut: Ideal, Price: 3457.541970210199
Cut: Premium, Price: 4584.2577042999055
Cut: Very Good, Price: 3981.7598907465654
Cut: Good, Price: 3928.864451691806
Cut: Fair, Price: 4358.757763975155

Se puede utilizar groupby en multiples indices usando varias funciones

In [32]:
df.groupby(['cut','color'])['price'].mean().to_frame().head() # Dataframe con multiples indices

              price
cut   color
Ideal D     2629.09
      E     2597.55
      F     3374.94
      G     3720.71
      H     3889.33

In [33]:
df.groupby(['cut','color'])['price'].aggregate([np.mean,max,min]).head() # aggregate aplica multiples funciones

               mean    max  min
cut   color
Ideal D     2629.09  18693  367
      E     2597.55  18729  326
      F     3374.94  18780  408
      G     3720.71  18806  361
      H     3889.33  18760  357

In [35]:
df = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela']) 
df.groupby(['genero'])['cm'].agg([np.mean,np.std])

         mean   std
genero
F      121.25  4.79
M      131.67 22.55

In [36]:
df = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])


print(df.query("(edad >= 12) & (cm < 130) & (Q1 > 5)")['Q2'])

Erika   8.00
Name: Q2, dtype: float64

In [37]:
df = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])

print(df.iloc[[4],[2]])

      pais
Erika   mx

In [ ]:
df.in